<a href="https://colab.research.google.com/github/TristanConant/sales-predictions/blob/main/food_sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [134]:
import pandas as pd

filename = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQcO5VAKyttMX8k6NqLE5Q5wHBt1ZVvuQ-Emy8aAvUOlbLrt_dcvqbBnGLtI3fDP_gAgdlmlfed1c3i/pub?gid=883441261&single=true&output=csv'
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Cleaning and exploring data

In [135]:
# How many rows and columns?
df.shape

(8523, 12)

In [136]:
# What are the datatypes of each variable?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [137]:
# Are there duplicates?
# These two columns appear to be the two identifiers that should not repeat 
df[df.duplicated(['Item_Identifier', 'Outlet_Identifier'], keep=False)]
# Double checking that the work above was done correctly
duplicate_test = df.filter(['Item_Identifier', 'Outlet_Identifier'])
duplicate_test.duplicated().sum()

0

In [138]:
# Identify missing values
# We can see that the rows with missing values exceed our 5% threshold so we will need to fill in this data
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [139]:
# Above we can see that Outlet_Size is missing from 2,410 rows. I believe we can fill in that missing data by finding the average Outlet_Size of other rows with the same Outlet_Location_Type and Outlet_Type
# E.G. All rows with a Outlet_Location_Type of 'Teir 1' and  an Outlet_Type of 'Grocery Store' have an Outlet_Size of small. So we could pretty safely assume any other rows with matching Outlet_Location_Type and Outlet_Type will also have an Outlet_Size of 'Small'
df.groupby(['Outlet_Location_Type', 'Outlet_Type', 'Outlet_Size']).count()

                                                    Item_Identifier  \
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small                    528
                     Supermarket Type1 Medium                   930
                                       Small                    930
Tier 2               Supermarket Type1 Small                    930
Tier 3               Supermarket Type1 High                     932
                     Supermarket Type2 Medium                   928
                     Supermarket Type3 Medium                   935

                                                    Item_Weight  \
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small                  0
                     Supermarket Type1 Medium               930
                                       Small                930
Tier 2               Supermarket Type1 Small                930
Tier 3               Supermarket Type1 High                 932
                     Supermarket Type2 Medium               928
                     Supermarket Type3 Medium                 0

                                                    Item_Fat_Content  \
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small                     528
                     Supermarket Type1 Medium                    930
                                       Small                     930
Tier 2               Supermarket Type1 Small                     930
Tier 3               Supermarket Type1 High                      932
                     Supermarket Type2 Medium                    928
                     Supermarket Type3 Medium                    935

                                                    Item_Visibility  \
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small                    528
                     Supermarket Type1 Medium                   930
                                       Small                    930
Tier 2               Supermarket Type1 Small                    930
Tier 3               Supermarket Type1 High                     932
                     Supermarket Type2 Medium                   928
                     Supermarket Type3 Medium                   935

                                                    Item_Type  Item_MRP  \
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small              528       528
                     Supermarket Type1 Medium             930       930
                                       Small              930       930
Tier 2               Supermarket Type1 Small              930       930
Tier 3               Supermarket Type1 High               932       932
                     Supermarket Type2 Medium             928       928
                     Supermarket Type3 Medium             935       935

                                                    Outlet_Identifier  \
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small                      528
                     Supermarket Type1 Medium                     930
                                       Small                      930
Tier 2               Supermarket Type1 Small                      930
Tier 3               Supermarket Type1 High                       932
                     Supermarket Type2 Medium                     928
                     Supermarket Type3 Medium                     935

                                                    Outlet_Establishment_Year  \
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small                              528
                     Supermarket Type1 Medium                             930
                                       Small                              930
Tier 2               Supermarket Type1 Small                              930
Tier 3               Supermarket Type1 High                               932
                     Supermarket Type2 Medium                             928
                     Supermarket Type3 Medium                             935

                                                    Item_Outlet_Sales
Outlet_Location_Type Outlet_Type       Outlet_Size
Tier 1               Grocery Store     Small                      528
                     Supermarket Type1 Medium                     930
                                       Small                      930
Tier 2               Supermarket Type1 Small                      930
Tier 3               Supermarket Type1 High                       932
                     Supermarket Type2 Medium                     928
                     Supermarket Type3 Medium                     935

In [140]:
# Now we can group all of the rows where Outlet_Size is missing a group them by the Outlet_Location_Type and Outlet_Type compare the info above.
na_df = df[df['Outlet_Size'].isna()]
na_df.groupby(['Outlet_Location_Type', 'Outlet_Type']).count()

,,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales
Outlet_Location_Type,Outlet_Type,,,,,,,,,,
Tier 2,Supermarket Type1,1855,1855,1855,1855,1855,1855,1855,1855,0,1855
Tier 3,Grocery Store,555,555,555,555,555,555,555,555,0,555

In [141]:
# Rows are where Outlet_Location_Type is Tier 2 is easy to fix since every other Tier 2 has an Outlet_Size of Small
# After running this we can run the cell above to check that we successfully updated our data
df.loc[(df['Outlet_Location_Type'] == 'Tier 2') & df['Outlet_Size'].isna(), 'Outlet_Size'] = 'Small'

In [142]:
# Rows are where Outlet_Location_Type is Tier 3 and the Outlet_Type is Grocery Store is not as straight forward. By looking at our data we see all other Grocery Store's have an Outlet_Size of Small. However Tier 3 only has Medium and High Oulet_Sizes
# I believe we can meet in the middle and make a somewhat safe assumption that Tier 3 Grocery Stores could be set to Medium
df.loc[(df['Outlet_Location_Type'] == 'Tier 3') & df['Outlet_Size'].isna(), 'Outlet_Size'] = 'Medium'

In [143]:
# Now we need to address the missing Item_Weight values. Let's start by looking at the rows that are missing Item_Weight and try to identify a pattern
wieght_na_df = df.loc[df['Item_Weight'].isna()]
wieght_na_df.groupby('Outlet_Identifier').count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Identifier,,,,,,,,,,,
OUT019,528,0,528,528,528,528,528,528,528,528,528
OUT027,935,0,935,935,935,935,935,935,935,935,935

In [144]:
# My first thought was to see if any specific outlet(s) was the source of missing data. Miraculously there was a pattern there.
# Ultimately though, this was not that helpful.
df.groupby('Outlet_Identifier').count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Identifier,,,,,,,,,,,
OUT010,555,555,555,555,555,555,555,555,555,555,555
OUT013,932,932,932,932,932,932,932,932,932,932,932
OUT017,926,926,926,926,926,926,926,926,926,926,926
OUT018,928,928,928,928,928,928,928,928,928,928,928
OUT019,528,0,528,528,528,528,528,528,528,528,528
OUT027,935,0,935,935,935,935,935,935,935,935,935
OUT035,930,930,930,930,930,930,930,930,930,930,930
OUT045,929,929,929,929,929,929,929,929,929,929,929
OUT046,930,930,930,930,930,930,930,930,930,930,930
OUT049,930,930,930,930,930,930,930,930,930,930,930

In [145]:
wieght_na_df.groupby('Item_Identifier').count()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
DRA24,0,2,2,2,2,2,2,2,2,2,2
DRA59,0,2,2,2,2,2,2,2,2,2,2
DRB01,0,1,1,1,1,1,1,1,1,1,1
DRB25,0,1,1,1,1,1,1,1,1,1,1
DRB48,0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
NCZ17,0,1,1,1,1,1,1,1,1,1,1
NCZ18,0,1,1,1,1,1,1,1,1,1,1
NCZ30,0,1,1,1,1,1,1,1,1,1,1
NCZ53,0,1,1,1,1,1,1,1,1,1,1
NCZ54,0,2,2,2,2,2,2,2,2,2,2